<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lets Play MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Fill out the form to see your own custom story!</h1>
      <form action="/Story3" method="post" >
      <div class="form-group">
        <label for="Adj">Adjective: </label>
        <input id="Adj" name="Adj" type="text">
      </div>
      <div class="form-group">
        <label for="Verb1">Adjective: </label>
        <input id="Verb1" name="Verb1" type="text">
      </div> 
      <div class="form-group">
        <label for="Verb2">Adjective: </label>
        <input id="Verb2" name="Verb2" type="text">
      </div> 
      <div class="form-group">
        <label for="Verb3">Adjective: </label>
        <input id="Verb3" name="Verb3" type="text">
      </div> 
      <div class="form-group">
        <label for="Verb4">Adjective: </label>
        <input id="Verb4" name="Verb4" type="text">
      </div> 
      <div class="form-group">
        <label for="Verb5">Adjective: </label>
        <input id="Verb5" name="Verb5" type="text">
      </div> 
      <div class="form-group">
        <label for="Verb6">Adjective: </label>
        <input id="Verb6" name="Verb6" type="text">
      </div>  
      <div class="form-group">
        <label for="Verb7">Adjective: </label>
        <input id="Verb7" name="Verb7" type="text">
      </div>  
      <div class="form-group">
        <label for="Noun">Noun: </label>
        <input id="Noun" name="Noun" type="text">
      </div>  
      <div class="form-group">
        <label for="Noun2">Noun: </label>
        <input id="Noun2" name="Noun2" type="text">
      </div>  
      <div class="form-group">
        <label for="Noun3">Noun: </label>
        <input id="Noun3" name="Noun3" type="text">
      </div>  
      <div class="form-group">
        <label for="PrNoun">Proper Noun: </label>
        <input id="PrNoun" name="PrNoun" type="text">
      </div>  
      <button type="submit" class="btn btn-danger">Reveal Story</button>
      </form>
    </div>
  </body>
</html>