<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lets Play MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill out the form to see your won custom story!</h1>
    <form action="/postcard" method="post">
     <label for="holiday">Holiday</label>
     <input id="holiday" name="holiday" type="text">
     <label for="noun1">Noun</label>
     <input id="noun1" name="noun1" type="text">
     <label for="place1">Place</label>Place<input id="place1" name="place1" type="text">
     <label for="person1">Person</label>
     <input id="person1" name=Adjectiven1" type="text">
     <label for="adj1">Adjective</label>
    <input id="adj1" name="adj1" type="text">
     <label for="bodypart">Bodypart</label>
     <input id="bodypart" name="bodypart" type="text">
     <label for="verb1">Verb</label>
     <input id="verb1" name="verb1" type="text">
     <label for="adj2">Adjective</label>
     <input id="adj2" name="adj2" type="text">
     <label for="noun2">Noun</label>
     <input id="noun2" name="noun2" type="text">
     <label for="food">Food</label>
     <input id="food" name="food" type="text">
     <label for="plNoun">Plural Noun</label>
     <input id="plNoun" name="plNoun" type="text">
     <label for="famPers">Famous Person</label>
     <input id="famPers" name="famPers" type="text">
     <label for="noun3">Noun</label>
     <input id="noun3" name="noun3" type="text">
     <label for="food2">Food</label>
     <input id="food2" name="food2" type="text">
     
     <label for="food3">Food</label>
     <input id="food3" name="food3" type="text">
     <label for="number">Number</label>
     <input id="number" name="number" type="text">
     <label for="verb2">Verb</label>
     <input id="verb2" name="verb2" type="text">
     <label for="familyMem">Family Member</label>
     <input id="familyMem" name="familyMem" type="text">
     <label for="food4">Food</label>
     <input id="food4" name="food4" type="text">
     <label for="bodypart2">Bodypart</label>
     <input id="bodypart2" name="bodypart2" type="text">
     <button type="submit">Reveal Story</button>
    </form>
  </body>
</html>