<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lets Play MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
   <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Fill out the form to see your won custom story!</h1>
      <form action="/Story2" method="post" >
      <div class="form-group">
        <label for="Adj1">Adjective: </label>
        <input id="Adj1" name="Adj1" type="text">
      </div>
      <div class="form-group">
        <label for="Adj2">Adjective: </label>
        <input id="Adj2" name="Adj2" type="text">
      </div> 
      <div class="form-group">
        <label for="Adj3">Adjective: </label>
        <input id="Adj3" name="Adj3" type="text">
      </div> 
      <div class="form-group">
        <label for="Adj4">Adjective: </label>
        <input id="Adj4" name="Adj4" type="text">
      </div> 
      <div class="form-group">
        <label for="Adj5">Adjective: </label>
        <input id="Adj5" name="Adj5" type="text">
      </div> 
      <div class="form-group">
        <label for="Adj6">Adjective: </label>
        <input id="Adj6" name="Adj6" type="text">
      </div>  
      <div class="form-group">
        <label for="Noun1">Noun: </label>
        <input id="Noun1" name="Noun1" type="text">
      </div>  
      <div class="form-group">
        <label for="Noun2">Noun: </label>
        <input id="Noun2" name="Noun2" type="text">
      </div>  
      <div class="form-group">
        <label for="PrNoun">Proper Noun: </label>
        <input id="PrNoun" name="PrNoun" type="text">
      </div>  
      <button type="submit" class="btn btn-secondary">Reveal Story</button>
      </form>
    </div>
  </body>
</html>