<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lets Play MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to MadLibs!</h1>
        <hr class="my-4">
        <p>Choose a Story to play:</p>
        <a class="btn btn-info btn-lg" href="/Form" role="button">Click here for The Halloween Story</a>
        <a class="btn btn-info btn-lg" href="/Form2" role="button">Click here Pretty little Liars Story</a>
        <a class="btn btn-info btn-lg" href="/Form3" role="button">Click here for Beautiful Ham</a>
      </div>
    </div>
  </body>
</html>